 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm 20 years old. I live in Hatay, Turkey. I am a student of Computer Science and Engineering.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am developer and web designer. You can see my projects in portfolio section.</p>
                </div>
                
            </div>
        </div>
    </section>